
#icon-container{
    margin: 0;
    position: absolute;
    left: 85%;
    top: 21%;
}

#list-btn, #card-btn {
    font-size: 1.5em;
    color: rgb(118, 118, 118);
    margin: 0 10px;
}

#list-btn:hover, #card-btn:hover {
    color: rgb(53, 104, 224);
}

