


.list-btn, .card-btn {
    font-size: 1.5em;
    color: rgb(118, 118, 118);
    margin: 0 10px;
}

.list-btn:hover, .card-btn:hover {
    color: rgb(53, 104, 224);
}
.list-group{
    display: flex;
    flex-direction: column;
    max-width: 80%vw;
}

.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
    
}
